.checkout_block {
    display: flex;
    flex-direction: column;
    align-items: center;

    .woocommerce-checkout {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: 1215px;

        .woocommerce-billing-fields {
            display: none;
        }

        .payment_wraper {
            display: flex;
            justify-items: end;
            flex-direction: row;
            align-items: flex-start;
            justify-content: space-between;

            #payment {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                border: 1px solid #161616;
                background: #FFF;
                width: 100%;
                max-width: 635px;

                .payment_title {
                    color: #161616;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 53px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120.5%;
                    padding: 20px;
                    width: 100%;
                    border-bottom: 1px solid #161616;
                }
            }

            .additiona_payment {
                border-radius: 15px;
                border: 1px solid #161616;
                background: #FFF;
                width: 100%;
                max-width: 482px;
                overflow: hidden;

                .user_info {
                    display: flex;
                    align-items: center;
                    padding: 15px 40px;
                    border-bottom: 1px solid #161616;
                    gap: 20px;

                    .user_img {
                        display: flex;
                    }

                    .user_right {
                        display: flex;
                        flex-direction: column;

                        .user_name {
                            color: #161616;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .change_user {
                            color: #646464;
                            font-family: Fixel Display;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            cursor: pointer;
                        }
                    }
                }

                .user_item {
                    margin: 35px 40px 25px;

                    .product_select {
                        border-radius: 15px;
                        border: 1px solid #161616;

                        .cart_item {
                            border-radius: 15px;
                            background: #FFF;
                            color: #161616;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 20px;
                            padding: 18px 25px 18px 65px;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: space-between;
                            position: relative;

                            &::before {
                                content: "";
                                display: block;
                                background: url(../images/person-28-regular.svg);
                                background-size: cover;
                                background-repeat: no-repeat;
                                width: 28px;
                                height: 28px;
                                position: absolute;
                                left: 20px;
                            }

                            .product-name {
                                color: #161616;
                                font-family: Fixel Display;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                            }

                            .product-total {
                                color: #161616;
                                font-family: Fixel Display;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: normal;
                            }
                        }
                    }
                }

                .total_to_pay {
                    margin: 0 40px 25px;
                    display: flex;
                    justify-content: space-between;
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;

                    .total {
                        color: #161616;
                        text-align: right;
                        font-family: Fixel Display;
                        font-size: 25px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                    }
                }

                .additional_items {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    margin: 0 40px 25px;
                }

                .add_coupon {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin: 0 40px 25px;

                    .coupon_set {
                        display: flex;
                        justify-content: space-between;
                        flex-direction: row;
                        width: 100%;

                        .coupon_name {
                            font-family: Fixel Display;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                        }

                        .coupon_val {
                            font-family: Fixel Display;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;
                            display: flex;
                            align-items: center;

                            .woocommerce-remove-coupon {
                                margin-left: 5px;
                                font-size: 10px;
                            }
                        }
                    }

                    .add_coupon_title {
                        display: flex;
                        align-items: center;
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        &::after {
                            content: "";
                            width: 10px;
                            height: 6px;
                            margin-left: 5px;
                            cursor: pointer;
                            background-image: url(../images/arrow-down.svg);
                        }
                    }

                    .dropdown_coupon {
                        display: flex;
                        gap: 10px;
                        flex-direction: row;
                        align-items: center;
                        width: 100%;
                        margin-top: 15px;

                        input.coupon_input {
                            border-radius: 10px;
                            border: 1px solid #646464;
                            background: #FFF;
                            color: #646464;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px;
                            padding: 10px;
                            width: calc(50% - 5px);
                            text-align: center;
                        }

                        .btn_apply {
                            border-radius: 10px;
                            border: 1px solid #FE5A13;
                            background: #FFF;
                            padding: 14px;
                            color: #FE5A13;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 18px;
                            width: calc(50% - 5px);
                            text-align: center;
                            cursor: pointer;
                        }
                    }
                }

                .additional_info {
                    display: flex;
                    flex-direction: column;
                    margin: 0 40px 25px;

                    ul {
                        li {
                            display: flex;
                            align-items: center;
                            flex-direction: row;
                            color: #161616;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            span {
                                display: contents;
                                font-weight: 600;
                            }

                            &::before {
                                content: "";
                                margin-right: 15px;
                                display: flex;
                                background: url(../images/guidance_up-arrow.svg) no-repeat;
                                width: 34px;
                                height: 34px;
                            }
                        }
                    }
                }
            }
        }
    }
}