.single_product {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1215px;
    width: 100%;
    margin: 25px auto 0;
    gap: 150px;

    @media (max-width: 960px) {
        gap: 90px;
    }

    .single_prod_header {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        width: 100%;

        .trustpilot {
            display: flex;
            width: 100%;
            margin-bottom: 25px;
            flex-direction: row;
            justify-content: flex-end;

            img {
                width: auto;
                height: 33px;
            }

            @media (max-width: 960px) {
                display: none;
            }
        }

        .single_content {
            width: 100%;
            max-width: 635px;
            flex-shrink: 0;
            border: 1px solid #161616;
            border-radius: 15px;
            overflow: hidden;

            @media (max-width: 1250px) {
                width: 55%;
            }

            @media (max-width: 768px) {
                width: 100%;
                max-width: unset;
                border-radius: 8px;
            }


            .title_product {
                color: #161616;
                font-family: Fixel Display;
                font-size: 53px;
                font-style: normal;
                font-weight: 600;
                line-height: 120.5%;
                padding: 25px 45px 20px;

                @media (max-width: 1250px) {
                    font-size: 45px;
                }

                @media (max-width: 960px) {
                    font-size: 29px;
                }

                @media (max-width: 768px) {
                    padding: 20px;
                    text-align: center;
                    padding: 20px 20px 10px;
                }

                span {
                    color: #FE5A13;
                }
            }

            .woocommerce-product-details__short-description {
                color: #646464;
                font-family: Fixel Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: 120.5%;
                border-bottom: 1px solid #161616;
                padding: 0 50px 25px;

                @media (max-width: 960px) {
                    font-size: 13px;
                    padding: 0 20px 20px;
                    text-align: center;
                }
            }

            .discount_blocks {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                gap: 20px;
                padding: 25px 50px 25px;

                @media (max-width: 768px) {
                    gap: 15px;
                    padding: 20px;
                }

                .discount_block {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 15px;
                    border: 1px solid #161616;
                    box-shadow: 6px 6px 0px 0px transparent;
                    overflow: hidden;
                    cursor: pointer;

                    @media (max-width: 768px) {
                        border-radius: 8px;
                    }

                    &.active {
                        border: 1px solid #FE5A13;
                        box-shadow: 6px 6px 0px 0px #FE5A13;

                        .product_quantity {
                            color: #FFF;
                            background-color: #FE5A13;
                            border-bottom: 1px solid #FE5A13;
                        }
                    }

                    .product_quantity {
                        color: #161616;
                        text-align: center;
                        font-family: Fixel Display;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        padding: 14px 0 6px;
                        border-bottom: 1px solid #161616;
                        width: 100%;

                        @media (max-width: 960px) {
                            font-size: 15px;
                            padding: 5px 0 3px;
                        }
                    }

                    .product_discount {
                        color: #646464;
                        text-align: center;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        padding: 10px 0 13px;

                        @media (max-width: 960px) {
                            font-size: 13px;
                            padding: 5px 0 3px;
                        }
                    }
                }
            }

            .price_block {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 0 50px 25px;

                @media (max-width: 960px) {
                    padding: 0px 0px 25px;
                }

                .price {
                    display: flex;
                    flex-direction: column;
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    margin: 0;

                    @media (max-width: 960px) {
                        font-size: 20px;
                    }

                    @media (max-width: 768px) {
                        padding: 0 20px 0px;
                    }

                    .price_all {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        @media (max-width: 768px) {
                            gap: 10px;
                        }

                        del {
                            color: #FE5A13;
                            text-align: center;
                            font-family: Fixel Display;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            position: relative;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }

                            &::after {
                                content: "";
                                display: block;
                                width: 100%;
                                border-bottom: 1px solid #FE5A13;
                                position: absolute;
                                top: 50%;
                                transform: translateY(-1px);
                            }
                        }
                    }

                    .saving {
                        color: #85C316;
                        font-family: Fixel Display;
                        font-size: 15px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        @media (max-width: 960px) {
                            font-size: 12px;
                        }
                    }
                }

                .payments_img {
                    display: flex;
                    gap: 5px;
                    flex-wrap: nowrap;
                    margin-right: 20px;

                    img {
                        width: 100%;
                    }
                }

            }

            form.cart {
                display: none;
            }

            .custom_buy {
                margin: 0 50px 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                padding: 14px;

                @media (max-width: 768px) {
                    margin: 0 20px 20px;
                    border-radius: 8px;
                }

                .price {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin: 0;
                    color: #FE5A13;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;

                    @media (max-width: 960px) {
                        font-size: 15px;
                    }

                    .price_all {
                        del {
                            display: none;
                        }
                    }

                    .saving {
                        display: none;
                    }
                }

                span {
                    color: #FE5A13;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;

                    @media (max-width: 960px) {
                        font-size: 13px;
                    }

                    &.woocommerce-Price-amount {
                        font-size: 25px;

                        @media (max-width: 960px) {
                            font-size: 15px;
                        }
                    }
                }
            }
        }

        .single_additional {
            display: flex;
            flex-direction: column;
            gap: 25px;
            max-width: 482px;

            @media (max-width: 1250px) {
                width: calc(45% - 25px);
            }

            @media (max-width: 768px) {
                width: 100%;
                max-width: unset;
                flex-direction: column-reverse;
                margin-top: 25px;
            }

            .premium_block {
                border: 1px solid #161616;
                border-radius: 15px;

                @media (max-width: 960px) {
                    border-radius: 8px;
                }

                .premium_header {
                    display: flex;
                    justify-content: center;
                    color: #161616;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120.5%;
                    padding: 27px 0 16px;
                    border-bottom: 1px solid #161616;

                    @media (max-width: 960px) {
                        font-size: 29px;
                        padding: 10px;
                    }
                }

                .premium_content {
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    padding: 26px 38px;

                    @media (max-width: 960px) {
                        padding: 20px;
                    }

                    ul {
                        li {
                            display: block;
                            color: #161616;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            position: relative;
                            margin-bottom: 5px;
                            padding-left: 40px;
                            width: 100%;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }

                            span {
                                display: contents;
                                font-weight: 600;
                            }

                            &::before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                display: flex;
                                background: url(../images/guidance_up-arrow.svg) no-repeat;
                                width: 34px;
                                height: 34px;

                                @media (max-width: 960px) {
                                    margin-right: 10px;
                                }
                            }
                        }
                    }
                }
            }

            .trusted_block {
                border: 1px solid #161616;
                border-radius: 15px;
                padding: 23px 50px;

                @media (max-width: 960px) {
                    border-radius: 8px;
                    padding: 15px 25px;
                }

                .trust_img {
                    display: flex;
                    img{
                        width: 100%;
                    }
                }

                .trust_title {
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin-top: 26px;

                    @media (max-width: 960px) {
                        font-size: 13px;
                        margin-top: 20px;
                    }
                }

                .trust_link {
                    color: #85C316;
                    font-family: Fixel Display;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @media (max-width: 960px) {
                        font-size: 12px;
                    }
                }
            }
        }
    }
}

.mini_checkout {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1215px;
    width: 100%;
    margin: 25px auto 0;

    .checkout_top {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 100%;

        @media (max-width: 960px) {
            gap: 20px;
        }

        .back_btn {
            color: #FE5A13;
            font-family: Fixel Display;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: 21px;
            cursor: pointer;
            padding: 12px 40px;

            @media (max-width: 960px) {
                font-size: 18px;
                padding: 12px 30px;
                border-radius: 8px;
            }
        }

        .live_on {
            display: flex;
            justify-content: center;
            color: #161616;
            font-family: Fixel Display;
            font-size: 18px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            width: 100%;
            max-width: 635px;

            @media (max-width: 960px) {
                font-size: 15px;
                padding-bottom: 20px;
            }

            span {
                color: #FE5A13;
                font-family: Fixel Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;

                @media (max-width: 960px) {
                    font-size: 15px;
                }
            }
        }
    }

    .get_started {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        height: auto;
        opacity: 1;
        visibility: visible;
        transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.7s ease-in-out;
        width: 100%;

        @media (max-width: 768px) {
            flex-direction: column;
            flex-wrap: wrap;
        }

        &.hidden {
            height: 0px;
            opacity: 0;
            visibility: hidden;
            transition: height 0.5s ease-in-out, opacity 0.2s ease-in-out, visibility 0s ease-in-out;
        }

        .content_part {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            border: 1px solid #161616;
            width: 100%;
            max-width: 635px;

            @media (max-width: 1250px) {
                width: 55%;
                border-radius: 10px;
            }

            @media (max-width: 768px) {
                width: 100%;
                max-width: unset;
                border-radius: 8px;
            }

            .get_started_title {
                color: #161616;
                text-align: center;
                font-family: Fixel Display;
                font-size: 53px;
                font-style: normal;
                font-weight: 600;
                line-height: 120.5%;
                padding: 25px;
                border-bottom: 1px solid #161616;
                width: 100%;

                @media (max-width: 1250px) {
                    font-size: 45px;
                    padding: 15px;
                }

                @media (max-width: 960px) {
                    font-size: 29px;
                }

            }

            .woocommerce-billing-fields {
                padding: 25px 30px;
                display: flex;
                flex-direction: column;

                @media (max-width: 768px) {
                    padding: 20px 20px;
                }

                input {
                    border-radius: 15px;
                    border: 1px solid #646464;
                    background: #FFF;
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 20px 25px 20px 65px;
                    width: 100%;

                    @media (max-width: 960px) {
                        font-size: 13px;
                        padding: 15px 25px 15px 65px;
                        border-radius: 8px;
                    }

                    &::placeholder {
                        color: #646464;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }
                    }

                    &:focus {
                        border: 1px solid #FE5A13;
                    }

                    &.error {
                        border: 1px solid red;
                    }
                }

                .input-link {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    margin-bottom: 25px;

                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }

                    &::before {
                        content: "";
                        display: block;
                        background: url(../images/link-24.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        left: 20px;
                    }

                    span {
                        visibility: hidden;
                        position: absolute;
                        width: 100%;
                        font-family: Fixel Display;
                        bottom: -23px;
                        font-size: 10px;
                        color: red;
                        left: 10px;
                    }

                    &.active::before {
                        background: url(../images/link-24-hover.svg);
                    }

                    &.error {
                        span {
                            visibility: visible;
                        }
                    }
                }

                .input-text {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;

                    &::before {
                        content: "";
                        display: block;
                        background: url(../images/fluent_mail-28-regular.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        left: 20px;
                    }

                    span {
                        visibility: hidden;
                        position: absolute;
                        width: 100%;
                        font-family: Fixel Display;
                        bottom: -23px;
                        font-size: 10px;
                        color: red;
                        left: 10px;
                    }

                    &.active::before {
                        background: url(../images/mail-28-regular.svg);
                    }

                    &.error {
                        span {
                            visibility: visible;
                        }
                    }
                }

                .input-account {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    position: relative;
                    margin-bottom: 25px;

                    @media (max-width: 768px) {
                        margin-bottom: 20px;
                    }

                    &::before {
                        content: "";
                        display: block;
                        background: url(../images/contact_persone.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        left: 20px;
                    }

                    span {
                        visibility: hidden;
                        position: absolute;
                        width: 100%;
                        font-family: Fixel Display;
                        bottom: -23px;
                        font-size: 10px;
                        color: red;
                        left: 10px;
                    }

                    &.active::before {
                        background: url(../images/contact_persone-hover.svg);
                    }

                    &.error {
                        span {
                            visibility: visible;
                        }
                    }

                    .send_user {
                        position: absolute;
                        right: 15px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        border-radius: 10px;
                        border: 2px solid #FE5A13;
                        background: #FFF;
                        cursor: pointer;
                        padding: 8px 15px;
                        transition: all 0.2s ease-in-out;

                        .text {
                            color: #FE5A13;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 21px;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }
                        }
                    }

                    .user_pop {
                        position: absolute;
                        top: calc(100% + 5px);
                        left: 0;
                        width: 100%;
                        background: #fff;
                        z-index: 1;
                        border: 1px solid #111;
                        border-radius: 15px;
                        overflow: hidden;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        display: none;

                        .user_img {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            padding: 5px 25px;
                            gap: 25px;
                            width: 100%;
                            cursor: pointer;

                            img {
                                max-height: 50px;
                            }

                            .user_name {
                                color: #161616;
                                font-family: Fixel Display;
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: normal;

                                @media (max-width: 960px) {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

                .or_select {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    margin-bottom: 25px;
                    color: #FE5A13;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                }
            }

            .product_select {
                margin: 0 30px 25px;
                border-radius: 15px;
                border: 1px solid #646464;
                overflow: hidden;

                @media (max-width: 768px) {
                    margin: 0 20px 20px;
                    border-radius: 8px;
                }

                .cart_item {
                    border-radius: 15px;
                    background: #FFF;
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 20px;
                    padding: 18px 25px 18px 65px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    position: relative;
                    cursor: pointer;

                    @media (max-width: 960px) {
                        font-size: 13px;
                        padding: 15px 25px 15px 65px;
                    }

                    &::before {
                        content: "";
                        display: block;
                        background: url(../images/person-28-regular.svg);
                        background-size: cover;
                        background-repeat: no-repeat;
                        width: 28px;
                        height: 28px;
                        position: absolute;
                        left: 20px;
                    }

                    &.first {
                        .product-name {
                            cursor: default;
                        }
                    }

                    .product-name {
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        cursor: pointer;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }

                        .deals {
                            color: #FE5A13;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            cursor: pointer;

                            @media (max-width: 768px) {
                                display: none;
                            }
                        }
                    }

                    .product-total {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }

                        .arrow_down {
                            width: 10px;
                            height: 6px;
                            margin-left: 5px;
                            cursor: pointer;
                            background-image: url(../images/arrow-down.svg);
                        }
                    }
                }

                .dropdown_products {
                    display: flex;
                    flex-direction: column;
                    height: 0px;
                    opacity: 0;
                    visibility: hidden;
                    overflow: hidden;
                    animation: ease 0.7s;

                    &.active {
                        height: auto;
                        opacity: 1;
                        visibility: visible;
                        border-top: 1px solid #646464;
                    }

                    .cart_item {
                        &::before {
                            display: none;
                        }

                        border-bottom: 1px solid #D9D9D9;
                        border-radius: 0;

                        &:hover {
                            border-bottom: 1px solid #85C316;

                            .product-name,
                            .product-total {
                                color: #161616;
                            }
                        }

                        &:last-child {
                            border: none;
                        }

                        padding: 18px 25px 18px 25px;

                        .product-name,
                        .product-total {
                            color: #646464;
                        }
                    }
                }
            }

            .mail_send {
                margin: 0 30px 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;

                @media (max-width: 768px) {
                    margin: 0 20px 20px;
                }

                input#agree {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;

                    @media (max-width: 768px) {
                        width: 16px;
                        height: 16px;
                        margin-right: 10px;
                    }
                }

                label {
                    color: #646464;
                    font-family: Fixel Display;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;

                    @media (max-width: 960px) {
                        font-size: 12px;
                    }

                    a {
                        color: #85C316;
                        text-decoration: none;
                    }
                }
            }

            .privacy {
                margin: 0 30px 25px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                position: relative;

                @media (max-width: 768px) {
                    margin: 0 20px 20px;
                }

                input#privacy {
                    width: 20px;
                    height: 20px;
                    margin-right: 20px;

                    @media (max-width: 768px) {
                        width: 20px;
                        height: 20px;
                        margin-right: 10px;
                    }
                }

                label {
                    color: #646464;
                    font-family: Fixel Display;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    margin: 0;

                    @media (max-width: 960px) {
                        font-size: 12px;
                    }

                    a {
                        color: #85C316;
                        text-decoration: none;
                    }
                }

                span {
                    visibility: hidden;
                    position: absolute;
                    width: 100%;
                    font-family: Fixel Display;
                    bottom: -23px;
                    font-size: 10px;
                    color: red;
                    left: 40px;
                }

                &.error {
                    span {
                        visibility: visible;
                    }
                }
            }

            .continue {
                margin: 0 30px 40px;

                @media (max-width: 960px) {
                    margin: 0 20px 20px;
                }

                .continue_btn {
                    display: flex;
                    color: #FE5A13;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    align-items: center;
                    justify-content: center;
                    padding: 16px;
                    cursor: pointer;

                    @media (max-width: 960px) {
                        font-size: 13px;
                        border-radius: 8px;
                    }
                }
            }
        }

        .get_started_img {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: auto;

            .select_posts {
                display: flex;
                flex-direction: column;
                align-items: center;
                border-radius: 15px;
                border: 1px solid #000;
                width: 480px;
                display: none;

                @media (max-width: 1250px) {
                    width: 100%;
                }

                .select_header {
                    width: 100%;
                    color: #161616;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 53px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120.5%;
                    padding: 20px;
                    border-bottom: 1px solid #000;

                    @media (max-width: 1250px) {
                        font-size: 45px;
                        padding: 15px;
                    }

                    @media (max-width: 960px) {
                        font-size: 29px;
                    }
                }

                .select_data {
                    margin: 20px;
                    border-radius: 5px;
                    border: 1px solid #B2B2B2;
                    width: calc(100% - 40px);
                    display: flex;
                    flex-direction: row;
                    align-items: center;

                    .select_count {
                        color: #B2B2B2;
                        text-align: center;
                        font-family: Fixel Display;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120.5%;
                        padding: 5px;
                        width: 50%;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }

                        span {
                            color: #FE5A13;
                            font-family: Fixel Display;
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 120.5%;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }
                        }
                    }

                    .sep {
                        width: 1px;
                        background: #B2B2B2;
                        height: 20px;
                    }

                    .item_count {
                        display: flex;
                        width: 50%;
                        flex-direction: row;
                        justify-content: center;
                        text-align: center;
                        color: #FE5A13;
                        font-family: Fixel Display;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 120.5%;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }
                    }
                }

                .imageBlocks {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: center;
                    gap: 10px;
                    margin: 0 20px 20px;
                    width: calc(100% - 40px);

                    .user_imgs {
                        width: calc(33% - 6px);
                        border-radius: 10px;
                        border: 1px solid #E1E1E1;
                        overflow: hidden;
                        display: flex;
                        position: relative;
                        cursor: pointer;

                        img {
                            width: 100%;
                        }

                        &.active {
                            &::after {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 100%;
                                height: 100%;
                                background: url(../images/check_photo.svg);
                                background-repeat: no-repeat;
                                background-size: 60%;
                                background-position: center;
                                background-color: #00000070;
                            }
                        }
                    }

                }

                .submit_mob {
                    width: calc(100% - 40px);
                    margin: 20px;
                    color: #FE5A13;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    padding: 16px;
                    display: none;

                    @media (max-width: 768px) {
                        display: flex;
                        font-size: 13px;
                    }
                }
            }

            @media (max-width: 1250px) {
                width: calc(45% - 25px);

                img {
                    max-width: 100%;
                }
            }

            @media (max-width: 768px) {
                border-radius: 8px;
                width: 100%;
                max-width: unset;
                margin-top: 25px;
                justify-content: center;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
        }
    }

    .trustpilot {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        align-self: self-start;
        margin-top: 20px;
        width: 100%;
        max-width: 635px;

        @media (max-width: 768px) {
            display: none;
        }
    }
}

.deposite_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 912px;
    width: 100%;
    margin: 25px auto 0;
    border-radius: 15px;
    border: 1px solid #161616;

    @media (max-width: 768px) {
        border-radius: 8px;
    }

    .title {
        border-bottom: 1px solid #161616;
        display: flex;
        width: 100%;
        justify-content: center;
        padding: 25px;
        color: #161616;
        text-align: center;
        font-family: Fixel Display;
        font-size: 53px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.5%;

        @media (max-width: 1250px) {
            font-size: 45px;
        }

        @media (max-width: 960px) {
            font-size: 29px;
            padding: 15px;
        }
    }

    .content_block {
        padding: 40px 35px;
        width: 100%;

        @media (max-width: 960px) {
            padding: 20px;
        }

        .form_input {
            display: flex;
            flex-direction: column;
            padding: 0;
            margin-bottom: 25px;
            position: relative;

            label {
                color: #161616;
                font-family: Fixel Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                margin: 0;
                padding: 0;
                margin-bottom: 25px;

                @media (max-width: 960px) {
                    font-size: 15px;
                    margin-bottom: 20px;
                }
            }

            input {
                width: 100%;
                max-width: none;
                border-radius: 15px;
                border: 1px solid #161616;
                background: #FFF;
                padding: 19px;
                color: #161616;
                font-family: Fixel Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                height: 65px;

                @media (max-width: 960px) {
                    font-size: 13px;
                    height: auto;
                    border-radius: 8px;
                    padding: 15px;
                }

                &::placeholder {
                    color: #646464;
                    font-family: Fixel Display;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @media (max-width: 960px) {
                        font-size: 13px;
                    }
                }
            }
        }

        .btn-red {
            color: #FE5A13;
            text-align: center;
            font-family: Fixel Display;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: capitalize;
            padding: 14px;
            cursor: pointer;

            @media (max-width: 960px) {
                font-size: 15px;
                border-radius: 8px;
            }
        }
    }

    .prod_data {
        display: none;
    }
}