.btn-red {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #FE5A13;
    background: #FFF;
    transition: all 0.3s ease-in-out;

    a {
        color: #FE5A13;
        text-align: center;
        font-family: Fixel Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        padding: 17px 35px;
    }

    &:hover {
        box-shadow: 6px 6px 0px 0px #FE5A13;
    }
}

.btn-gray {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 1.5px solid #646464;
    background: #FFF;
    transition: all 0.3s ease-in-out;

    a {
        padding: 12px 40px;
    }

    &:hover {
        box-shadow: 6px 6px 0px 0px #FE5A13;
    }
}

.btn-black {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid #161616;
    transition: all 0.3s ease-in-out;

    a {
        color: #FE5A13;
        text-align: center;
        font-family: Fixel Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;
        padding: 17px 35px;
        color: #161616;
    }

    &:hover {
        box-shadow: 6px 6px 0px 0px #111;
    }
}

a {
    text-decoration: none;
    color: inherit;
}