.btn-red {
    border-radius: 15px;
    border: 1px solid #FE5A13;
    background: #FFF;
    box-shadow: 6px 6px 0px 0px #FE5A13;
    padding: 12px 40px;
}

a {
    text-decoration: none;
    color: inherit;
}