:root {
  --blue: #726ABF;
  --blue-two: #01AAE6;
  --blue-three: #88ABE9;
  --light-blue: #E7E7FD;
  --white: #FFFFFF;
  --white-two: #F2F6FC;
  --white-three: #F3F4F5;
  --white-four: #F2F7FF;
  --black: #1E354E;
  --black-two: #000233;
  --grey: #828D9E;
  --grey-two: #B8B8B8;
  --yellow: #FBB605;
  --yellow-two: #FCC875;
  --yellow-three: #FAEDDA;
}

body {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 150%;
  color: var(--black);

  position: relative;
  overflow-x: hidden;
}

[class*=-container] {
  max-width: 1232px;
  margin: 0 auto;
  width: 100%;
  display: flex;
}

@keyframes fadeInOut {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@import 'templates/home';