:root {
    --blue: #726ABF;
    --blue-two: #01AAE6;
    --blue-three: #88ABE9;
    --light-blue: #E7E7FD;
    --white: #FFFFFF;
    --white-two: #F2F6FC;
    --white-three: #F3F4F5;
    --white-four: #F2F7FF;
    --black: #1E354E;
    --black-two: #000233;
    --grey: #828D9E;
    --grey-two: #B8B8B8;
    --yellow: #FBB605;
    --yellow-two: #FCC875;
    --yellow-three: #FAEDDA;
}

body {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-size: 16px;
    line-height: 150%;
    color: var(--black);

    position: relative;
    overflow-x: hidden;
    padding-top: 105px;

    @media (max-width: 768px) {
        padding-top: 55px;
    }

    &.logged {
        padding-top: 60px;

        @media (max-width: 768px) {
            padding-top: 55px;
        }
    }
}

[class*=-container] {
    max-width: 1215px;
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;

    @media (max-width: 1250px) {
        width: 100%;
        padding: 0 20px;
    }
}

@keyframes fadeInOut {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

main.main-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: 1250px) {
        width: 100%;
        padding: 0 20px;
    }

    section.page-section {
        display: flex;
        width: 100%;
        flex-direction: column;

        .container>#support-tickets-container {
            display: none;
        }
    }
}

.woocommerce {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.scrollToTop {
    position: fixed;
    bottom: 0;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #F95D2A;
    box-shadow: 0px 10px 16px 0px rgba(77, 91, 237, 0.2);
    color: #F95D2A;
    line-height: 50px;
    font-size: 24px;
    text-align: center;
    z-index: 99;
    cursor: pointer;
    transition: all 1s;
    transform: translateY(100%);

    svg {
        fill: #ffffff
    }

    &.active {
        bottom: 30px;
        transform: translateY(0%);
        color: white;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

        &::before,
        ::after {
            position: absolute;
            content: "";
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            border-radius: 50%;
            background-color: #F95D2A;
            opacity: 0.15;
            z-index: -10;
        }
    }

    &:hover {
        color: white;
        box-shadow: 0px 10px 26px 0px rgba(77, 91, 237, 0.5);
    }
}

.lost_reset_password .custom_block .form_content .submit-btn {
    color: #fe5a13;
    text-align: center;
    font-family: Fixel Display;
    font-size: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    width: 100%;
}

.single_banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    padding: 38px 0 61px 48px;
    border: 1px solid #FE5A13;
    border-radius: 15px;
    background: url(../images/dinosavr.svg) no-repeat;
    background-position: right center;
    background-size: auto;

    @media (max-width: 768px) {
        padding: 22px 28px 280px 28px;
        background-position: 50% 90%;
        background-size: 80%;
        border-radius: 8px;
    }

    .banner_title {
        color: #161616;
        font-family: Fixel Display;
        font-size: 40px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        max-width: 60%;


        @media (max-width: 1250px) {
            font-size: 32px;
            max-width: 60%;
        }

        @media (max-width: 960px) {
            font-size: 25px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
        }

        span {
            color: #85C316;
        }
    }

    .banner-btn {
        width: 100%;
        max-width: 540px;
        margin-top: 40px;
        color: #FE5A13;
        text-align: center;
        font-family: Fixel Display;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        text-transform: capitalize;

        @media (max-width: 1250px) {
            max-width: 60%;
        }

        @media (max-width: 960px) {
            font-size: 13px;
        }

        @media (max-width: 768px) {
            max-width: 100%;
            border-radius: 8px;
            margin-top: 25px;
        }
    }
}

.promo_block_wraper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;

    @media (max-width: 960px) {
        gap: 20px;
    }

    .promo_title {
        color: #161616;
        font-family: Fixel Display;
        font-size: 53px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.5%;

        @media (max-width: 1250px) {
            font-size: 45px;
        }

        @media (max-width: 960px) {
            font-size: 29px;
            text-align: center;
        }
    }

    .promo_descr {
        color: #646464;
        text-align: center;
        font-family: Fixel Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 620px;

        @media (max-width: 960px) {
            font-size: 13px;
        }
    }

    .promo_blocks {
        display: grid;
        align-items: stretch;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 25px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
        }

        .promo_block {
            display: flex;
            flex-direction: column;
            align-items: center;
            border-radius: 15px;
            border: 1px solid #FE5A13;
            background: #FFF;
            box-shadow: 6px 6px 0px 0px #FE5A13;

            @media (max-width: 960px) {
                border-radius: 8px;
            }

            .block_title {
                width: 100%;
                padding: 37px 15px;
                border-bottom: 1px solid #FE5A13;
                color: #161616;
                text-align: center;
                font-family: Fixel Display;
                font-size: 25px;
                font-style: normal;
                font-weight: 600;
                line-height: 120.5%;

                @media (max-width: 960px) {
                    font-size: 18px;
                    padding: 20px 15px;
                }
            }

            .block_desc {
                padding: 22px 15px;
                color: #646464;
                text-align: center;
                font-family: Fixel Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;

                @media (max-width: 960px) {
                    font-size: 13px;
                }
            }
        }
    }

    .promo_footer {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 100%;

        .footer_text {
            color: #85C316;
            text-align: center;
            font-family: Fixel Display;
            font-size: 15px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;

            @media (max-width: 960px) {
                font-size: 12px;
            }
        }

        .footer_img {
            display: flex;

            img {
                max-width: 100%;
            }
        }
    }
}

.testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .testimonials_title {
        color: #161616;
        font-family: Fixel Display;
        font-size: 53px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.5%;
        margin-bottom: 40px;

        @media (max-width: 1250px) {
            font-size: 45px;
        }

        @media (max-width: 960px) {
            font-size: 29px;
            text-align: center;
        }
    }

    .testimonials_header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 50px;

        @media (max-width: 768px) {
            grid-template-columns: 1fr;
            gap: 20px;
        }

        .header_left {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 27px;

            .header_img {
                display: flex;

                img {
                    filter: drop-shadow(6px 6px 0px #FE5A13);
                }
            }

            .header_wraper {
                display: flex;
                flex-direction: column;

                .header_title {
                    color: #161616;
                    font-family: Fixel Display;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120.5%;

                    @media (max-width: 960px) {
                        font-size: 18px;
                    }

                    span {
                        color: #FE5A13;
                    }
                }

                .header_subtitle {
                    color: #85C316;
                    font-family: Fixel Display;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;

                    @media (max-width: 960px) {
                        font-size: 12px;
                    }
                }
            }
        }

        .header_right {
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

            @media (max-width: 768px) {
                justify-content: center;
            }

            .testimonials_btn {
                color: #FE5A13;
                font-family: Fixel Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                padding: 12px 40px;
                cursor: pointer;

                @media (max-width: 960px) {
                    font-size: 13px;
                }

                @media (max-width: 768px) {
                    width: 85%;
                    border-radius: 8px;
                }
            }
        }
    }

    .testimonials_slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        position: relative;

        @media (max-width: 1440px) {
            width: calc(100% - 120px);
        }

        @media (max-width: 768px) {
            width: 100%;
        }

        .testimonial_slider_wraper {
            display: flex;
            width: 100%;
            flex-direction: column;

            .slick_slide {
                .slider_inner {
                    border-radius: 15px;
                    border: 1px solid #161616;
                    margin: 10px;
                    padding: 20px 25px;
                    position: relative;

                    @media (max-width: 960px) {
                        border-radius: 8px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 40px;
                        transform: translateY(-50%);
                        width: 42px;
                        height: 25px;
                        background: url(../images/quote.svg) center;
                        background-repeat: no-repeat;
                    }

                    .name {
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        text-transform: capitalize;

                        @media (max-width: 960px) {
                            font-size: 12px;
                        }
                    }

                    .text {
                        color: #646464;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        margin-top: 25px;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }
                    }

                    .slider_bottom {
                        display: flex;
                        align-items: flex-end;
                        gap: 5px;

                        .user_name {
                            color: #161616;
                            text-align: center;
                            font-family: Fixel Display;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: normal;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }
                        }

                        .verify {
                            display: flex;
                            align-items: flex-end;
                            gap: 5px;
                            color: #85C316;
                            font-family: Fixel Display;
                            font-size: 15px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;
                            margin-top: 25px;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }

                            &::before {
                                content: "";
                                width: 25px;
                                height: 25px;
                                background: url(../images/mdi_verified.svg) center;
                                background-repeat: no-repeat;

                                @media (max-width: 960px) {
                                    width: 20px;
                                    height: 20px;
                                    background-size: contain;
                                }
                            }
                        }
                    }
                }
            }
        }

        .slider_nav {
            display: flex;
            width: 100%;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            pointer-events: none;

            @media (max-width: 768px) {
                display: none;
            }

            .slider-newprev {
                display: flex;
                background: url(../images/slider_arrow.svg);
                transform: translateX(-50px);
                background-size: cover;
                background-repeat: no-repeat;
                width: 38px;
                height: 23px;
                pointer-events: all;
                cursor: pointer;

                &:hover {
                    transform: translateX(-50px) rotate(180deg);
                    background: url(../images/slider_arrow_hover.svg);
                }
            }

            .slider-newnext {
                display: flex;
                background: url(../images/slider_arrow.svg);
                transform: translateX(50px) rotate(180deg);
                background-size: cover;
                background-repeat: no-repeat;
                width: 38px;
                height: 23px;
                pointer-events: all;
                cursor: pointer;

                &:hover {
                    transform: translateX(50px) rotate(0deg);
                    background: url(../images/slider_arrow_hover.svg);
                }
            }
        }
    }

    .add_review_form {
        display: none;
        width: 100%;

        .review_form {
            width: 100%;
            display: flex;
            gap: 25px;
            justify-content: space-between;
            padding: 40px 35px;
            align-items: stretch;
            border-radius: 15px;
            border: 1px solid #161616;

            .form_left {
                display: flex;
                flex-direction: column;
                width: calc(50% - 12.5px);

                .form_input {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin-bottom: 25px;
                    position: relative;

                    label {
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 25px;

                        @media (max-width: 960px) {
                            font-size: 15px;
                        }
                    }

                    input {
                        width: 100%;
                        max-width: none;
                        border-radius: 15px;
                        border: 1px solid #161616;
                        background: #FFF;
                        padding: 19px 19px 19px 64px;
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        height: 65px;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }

                        &:focus {
                            border: 1.5px solid #FE5A13;
                        }

                        &::placeholder {
                            color: #646464;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }
                        }
                    }

                    &.form_email {
                        &::before {
                            content: "";
                            display: flex;
                            position: absolute;
                            bottom: 25px;
                            left: 25px;
                            background-size: contain;
                            width: 28px;
                            height: 28px;
                            background: url(../images/contact_persone.svg);
                            transform: translateY(25%);
                        }

                        &.active::before {
                            background: url(../images/contact_persone-hover.svg);
                        }
                    }
                }

                .rating {
                    display: flex;
                    margin-bottom: 0;
                    align-items: flex-start;

                    img {
                        height: 35px;
                    }
                }
            }

            .form_right {
                display: flex;
                flex-direction: column;
                width: calc(50% - 12.5px);

                .form_input {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    margin-bottom: 25px;
                    position: relative;

                    label {
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: normal;
                        margin: 0;
                        padding: 0;
                        margin-bottom: 25px;

                        @media (max-width: 960px) {
                            font-size: 15px;
                        }
                    }

                    textarea {
                        width: 100%;
                        max-width: none;
                        border-radius: 15px;
                        border: 1px solid #161616;
                        background: #FFF;
                        padding: 19px 19px 19px 64px;
                        color: #161616;
                        font-family: Fixel Display;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: normal;
                        height: 205px;

                        @media (max-width: 960px) {
                            font-size: 13px;
                        }

                        &:focus {
                            border: 1.5px solid #FE5A13;
                        }

                        &::placeholder {
                            color: #646464;
                            font-family: Fixel Display;
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: normal;

                            @media (max-width: 960px) {
                                font-size: 13px;
                            }
                        }
                    }

                    &.form_text_area {
                        &::before {
                            content: "";
                            display: flex;
                            position: absolute;
                            top: 62px;
                            left: 25px;
                            background-size: contain;
                            width: 25px;
                            height: 25px;
                            background: url(../images/Review2.svg);
                            transform: translateY(25%);
                        }

                        &.active::before {
                            background: url(../images/Review2-hover.svg);
                        }
                    }
                }

                .submit_btn {
                    color: #FE5A13;
                    text-align: center;
                    font-family: Fixel Display;
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    text-transform: capitalize;
                    padding: 14px;
                    cursor: pointer;
                }
            }
        }

    }
}

.tabs_section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .title {
        color: #161616;
        font-family: Fixel Display;
        font-size: 53px;
        font-style: normal;
        font-weight: 600;
        line-height: 120.5%;

        @media (max-width: 1250px) {
            font-size: 45px;
        }

        @media (max-width: 960px) {
            font-size: 29px;
            text-align: center;
        }

        span {
            color: #FE5A13;
        }
    }

    .tabs_desc {
        color: #646464;
        text-align: center;
        font-family: Fixel Display;
        font-size: 18px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        max-width: 530px;

        @media (max-width: 960px) {
            font-size: 13px;
        }
    }

    .tabs_block {
        width: 100%;
        position: relative;
        display: flex;
        gap: 25px;
        flex-direction: column;
        max-width: 905px;

        .tab_wraper {
            border-radius: 15px;
            border: 1px solid #161616;
            background: #FFF;

            &.active {
                border: 1px solid #FE5A13;
                box-shadow: 6px 6px 0px 0px #FE5A13;

                .tab_title {
                    border-bottom: 1px solid #FE5A13;
                    padding-bottom: 15px;
                }
            }

            .tab_title {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                color: #161616;
                font-family: Fixel Display;
                font-size: 20px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
                text-transform: capitalize;
                padding: 20px 25px;
                cursor: pointer;

                @media (max-width: 960px) {
                    font-size: 18px;
                    padding: 10px 22px;
                }

                .tab_dropdown {
                    display: flex;
                    height: 25px;
                    width: 25px;
                    cursor: pointer;
                    background: url(../images/open_tab.svg) center center;
                    background-repeat: no-repeat;
                    background-size: auto;

                    &.active {
                        background: url(../images/close_tab.svg) center center;
                        background-repeat: no-repeat;
                        background-size: auto;
                    }
                }
            }

            .tab_content {
                color: #646464;
                font-family: Fixel Display;
                font-size: 18px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                opacity: 0;
                visibility: hidden;
                height: 0;
                transition: height 0.5s ease-in-out, opacity 0.2s ease-in-out, visibility 0s ease-in-out;

                @media (max-width: 960px) {
                    font-size: 13px;
                }

                a {
                    color: #85C316;
                    text-decoration-line: underline;
                }

                &.active {
                    height: auto;
                    visibility: visible;
                    opacity: 1;
                    transition: height 0.5s ease-in-out, opacity 0.5s ease-in-out, visibility 0.7s ease-in-out;
                    padding: 35px 25px;
                }
            }
        }
    }
}